{% load static %}
<!DOCTYPE html>
<html lang="zh-hans">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="{% static 'upload/css/style.css' %}" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
            <script src="https://cdn.static.runoob.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
    <title>{% block title %} Upload File {% endblock %}</title>

</head>

<body>
    {% include 'upload/header.html' %}
    <main style="margin-top:80px">
        <div class="container-fluid">
            <div class="pb-2 px-5">
                <h1>{% block h1 %} Upload File {% endblock %}</h1>
            </div>
            <div class="py-3 px-5">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </main>
    {% include 'upload/footer.html' %}

{% block javascript %}
    <!-- some javascript -->
{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>