{% comment %} <header class="p-3 bg-dark text-white">
    <nav class="container-xxl d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a class="nav-link px-2 text-secondary" href="/">Home</a></li>
            <li><a class="nav-link px-2 text-white" href="{% url 'upload_file' %}">Upload File</a></li>
            <li><a class="nav-link px-2 text-white" href="{% url 'files_list' %}">Files List</a></li>
            <li><a class="nav-link px-2 text-white" href="#">FAQs</a></li>
            <li><a class="nav-link px-2 text-white" href="#">About</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
            <a href="/admin/"><button type="button" class="btn btn-outline-light me-2">Login</button></a>
            <button type="button" class="btn btn-warning">Sign-up</button>
        </div>
    </nav>
</header> {% endcomment %}

<javascript>
    $(".nav .nav-link").on("click", function(){
    $(".nav").find(".active").removeClass("active");
    $(this).addClass("active");
    });
</javascript>


<!-- 定义导航栏 -->
<header class="container-fluid p-2 bg-dark text-white fixed-top">
    <!-- <div class="container-lg"> -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mx-5 ">
            <div class="d-flex container-fluid">
                <!-- 导航栏LOGO -->
                <a class="navbar-brand" href="#">IT网络系统管理</a>

                <!-- 导航栏折叠按钮 -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsiableNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- 导航栏条目 -->
                <div class="collapse navbar-collapse" id="collapsiableNavbar">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">首页</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'upload:upload_file' %}">上传日志</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'upload:files_list' %}">日志列表</a>
                        </li>
                    </ul>

                    <!-- 登录入口 -->
                    <div class="navbar-nav">
                        <form class="me-3">
                            <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                        </form>


                        <a href="{% url 'admin:index' %}"><button type="button"
                                class="btn btn-outline-light me-3">登录</button></a>
                        <button type="button" class="btn btn-warning">注册</button>
                    </div>
                </div>
            </div>
        </nav>
    <!-- </div> -->
</header>